/* Font Color Styles with CSS variables */
:root {
    --primaryColor:#F0EAD2;
    --secondaryColor: #7b8f4b;
    /* --textColor: #; */
}


body {
    font-family: 'Open Sans', sans-serif;
}

/* Container Styles */

.header-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 800px;
}

.header-container.clicked {
    display: block;
}

.column {
    text-align: left;
}

.sidebar {
    background-color: var(--secondaryColor);
    padding-top: 120px;
    /* width: 320px; */
}

.sidebar.toggle {
    display: none;
}

.info-bar {
    background-color: var(--primaryColor);
    padding-top: 120px;
    padding-left: 50px;
    padding-bottom: 30px;
    min-height: 800px;
}

/* Text Styles */

li {
    color: var(--primaryColor);
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
    font-size: 20px;
}

li:hover {
    background-color: #6f8144;
}

p {
    font-size: 40px;
    color: #31391e;
    font-weight: 500;
}

/* Button Styles */

button {
    margin-top: 20px;
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    font-size: 20px;
}

button.clicked {
    background-color: transparent;
    border: 2px solid var(--secondaryColor);
    color:  var(--secondaryColor);
}
